/**
 *  base_app.css
 *  2023-03-12
 *  Base styling for an application 
 **/


/* Navbar */
.navbar {
    margin: 0%;
    border: 0px;
    padding: 0%;
    width: 100%;
    height: 7%;
    background-color: #D3D3D3;
  }
  
  .navbar_button {
    margin: 0px;
    border: 0px;
    padding: 0px;
    background-color: #D3D3D3;
  }
  
  .navbar_drop_button {
    float: right;
    margin: 0px;
    border: 0px;
    padding: 0px;
    background-color:#D3D3D3;
  }
  
  /* Endbar */
  .endbar {
    margin: 0%;
    border: 0px;
    padding: 0%;
    width: 100%;
    height: 7%;
    background-color: #D3D3D3;
  }
  
  .endbar_button {
    margin: 0px;
    border: 0px;
    padding: 0px;
    background-color: #D3D3D3;
  }
  
  .endbar_drop_button {
    float: right;
    margin: 0px;
    border: 0px;
    padding: 0px;
    background-color: #D3D3D3;
  }
  
  /* Offscreen Menu */
  .bottom_menu {
    margin: 0%;
    border: 0px;
    padding: 0%;
    width: 100%;
    height: 0%;
    position: fixed;
    z-index: 1;
    left: 0%;
    bottom: 0px;
    color: Red;
    background-color: rgb(255,255,255);
    background-color: rgba(255,255,255, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .bottom_menu_head {
    margin: 0%;
    border: 0px;
    padding: 3%;
    height: 8%;
    font-family: Arial;
    background-color: #D3D3D3;
    font-size: 16px;
  }
  
  .bottom_menu_body {
    margin: 0%;
    border: 0px;
    padding: 2%;
    color: Blue;
    font-family: Arial;
    font-size: 18px;
  }
  
  .menu_title {
    margin: 0%;
    border: 0px;
    padding: 0%;
    float: left;
  }
  
  .bottom_menu_close_btn {
    float: right;
  }
  
  .menu_icon {
    float: right;
  }